@model IEnumerable<User>
@{
    ViewData["Title"] = "AdminIndex";
}


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">Firstname Lastname</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Admin</th>
            <th scope="col">DELETE</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {
        <tr>
            <td>@u.UserId</td>
            <td>@u.UserName</td>
            <td>@u.FirstName @u.LastName</td>
            <td>@u.EMail</td>
            <td>@u.IsAdmin</td>
            <td><a asp-action="UserDelete" asp-route-id="@u.UserId"  class="btn btn-danger">X</a></td>
        </tr>
        }
    </tbody>
</table> 
